// @import '_section1';
* {
    transition: all 0.5s ease;
    scroll-behavior: smooth;
  }
  html,
  body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  
  }
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  $bgHeader: url(/images/header.png);
  $ctxt: #2c4058;
  $cdate: #55b7ff;
  