* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section1 {
  padding-top: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(/images/header.png);
  background-size: cover;
  min-height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.section1 .header {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
}

.section1 .header__logo a {
  display: block;
  height: 58px;
}

.section1 .header__logo a:hover {
  opacity: 0.5;
}

.section1 .header__checkbox {
  display: none;
}

.section1 .header__label {
  display: none;
}

.section1 .header__ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  text-transform: uppercase;
  width: 600px;
  font-size: 14px;
}

.section1 .header__li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.section1 .header__li a .header__filled {
  display: none;
  width: 9px;
  height: 9px;
}

.section1 .header__li a .header__unfilled {
  width: 9px;
  height: 9px;
}

.section1 .header__li a:hover .header__unfilled,
.section1 .header__li a:focus .header__unfilled {
  display: none;
}

.section1 .header__li a:hover .header__filled,
.section1 .header__li a:focus .header__filled {
  display: block;
}

.section1 .header__li a p {
  margin-left: 14px;
}

.section1 .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section1 .header__links a + a {
  margin-left: 20px;
}

.section1 .header__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.section1 .header__links a:hover img {
  opacity: 0.5;
}

.section1 .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.section1 .slogan p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.section1 .slogan p + p {
  margin-top: 20px;
}

.section1 .slogan__title {
  font-size: 80px;
}

.section1 .slogan__text {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 4px;
}

.section1 .screenNav {
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section1 .screenNav__filled {
  display: none;
  margin-top: 6px;
}

.section1 .screenNav a {
  margin-bottom: 40px;
  width: 14px;
  height: 14px;
  text-decoration: none;
}

.section1 .screenNav a img {
  width: 9px;
  height: 9px;
}

.section1 .screenNav a:hover .screenNav__filled,
.section1 .screenNav a:focus .screenNav__filled {
  display: block;
}

.section1 .screenNav a:hover .screenNav__unfilled,
.section1 .screenNav a:focus .screenNav__unfilled {
  display: none;
}

.section1 .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section1 .arrow a {
  text-decoration: none;
}

.section1 .arrow a img {
  width: 40px;
  height: 40px;
}

.section1 .arrow a img svg {
  fill: #fff;
}

.section1 .arrow a:hover,
.section1 .arrow a:focus {
  opacity: 0.5;
}

.section2 {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section2__title {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.section2__title p {
  margin: 0;
  padding: 0;
}

.section2__inner {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #2c4058;
  position: relative;
}

.section2__inner .showModal {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  background-color: rgba(230, 230, 230, 0.9);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section2__inner .showModal__img {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2__inner .showModal__newsname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

.section2__inner .showModal__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
  margin-left: 60px;
  margin-bottom: 0;
}

.section2__inner .showModal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: left;
  margin: 20px;
  margin-left: 60px;
  margin-top: 0;
}

.section2__inner .showModal__text {
  font-size: 18px;
  color: #2c4058;
  text-indent: 40px;
  text-align: justify;
  margin: 20px;
  line-height: 24px;
}

.section2__inner .showModal__close {
  font-size: 18px;
  color: #2c4058;
  margin: 20px;
  cursor: pointer;
  margin-left: auto;
}

.section2 .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section2 .block1__subtitle h4 {
  font-size: 18px;
  text-transform: uppercase;
}

.section2 .block1__title h3 {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section2 .block1__text p {
  font-size: 18px;
  line-height: 30px;
  height: 85px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin-bottom: 40px;
}

.section2 .block1 img:nth-child(2) {
  position: absolute;
  top: 0;
  left: -215px;
  z-index: -1;
  overflow: hidden;
}

.section2 .block1__descr {
  margin-left: 130px;
}

.section2 .block1__btn {
  width: 190px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #2c4058;
}

.section2 .block1__btn:hover {
  opacity: 0.5;
}

.section2 .block1__btn p {
  line-height: 50px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border: 1px solid #2c4058;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
}

.section2 .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section2 .block2__subtitle h4 {
  font-size: 18px;
  text-transform: uppercase;
}

.section2 .block2__title h3 {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section2 .block2__text p {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  height: 85px;
  margin-bottom: 40px;
}

.section2 .block2 img:nth-child(2) {
  position: absolute;
  top: 0;
  right: -215px;
  z-index: -1;
  overflow: hidden;
}

.section2 .block2__descr {
  margin-right: 130px;
}

.section2 .block2__btn {
  width: 190px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #2c4058;
}

.section2 .block2__btn:hover {
  opacity: 0.5;
}

.section2 .block2__btn p {
  line-height: 50px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border: 1px solid #2c4058;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */